{%extends "base.html"%}


{%block content%}
<h1>Test H1</h1>
<h2>TEST H2 </h2>
<h3>Test h3</h3>
<h4>Test H4</h4>
<h5>TEST H5 </h5>
<h6>Test h6</h6>

<p>
  Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
  Vestibulum ac ex quis neque lobortis viverra non quis enim.
  Curabitur consequat, nibh id sagittis ultrices, mauris diam 
  blandit risus, in cursus ante urna ut tellus.
</p>


<p>
  Suspendisse potenti. Cras at tincidunt nisi, in congue metus. 
  Nulla hendrerit magna eu purus vestibulum tristique.
</p>


<ul>
  <li>Kısa bir liste maddesi</li>
  <li>Başka bir liste maddesi</li>
  <li>Son bir liste maddesi</li>
</ul>
<p>
  Donec non tellus lectus. Ut non purus nec nisi vestibulum 
  pellentesque ac nec nisl.
</p>


<ol>
  <li>Sıralı liste maddesi 1</li>
  <li>Sıralı liste maddesi 2</li>
  <li>Sıralı liste maddesi 3</li>
</ol>
<p>
  Nunc vel feugiat urna. Proin blandit finibus leo, eu pharetra orci 
  tincidunt quis.
</p>


<blockquote>
  “Teknolojide büyük ilerlemeler, merak ve azmin birleştiği yerde yeşerir.”
  <footer>— Bilinmeyen</footer>
</blockquote>
<p>
  Integer sed orci non massa mollis fermentum. Morbi fringilla est et 
  dui scelerisque, vel hendrerit sem hendrerit.
</p>

<pre>
    <span class="code-comment">// Basit bir JavaScript fonksiyonu</span>
    <span class="code-keyword">function</span> selamVer(isim) {
        <span class="code-keyword">console</span>.log(<span class="code-string">"Selam, "</span> + isim + <span class="code-string">"!"</span>);
    }
    selamVer(<span class="code-string">"Yusuf"</span>);
  </pre>
  
<p>
    Integer sed orci non massa mollis fermentum. Morbi fringilla est et 
    dui scelerisque, vel hendrerit sem hendrerit.
  </p>
  <p>
    Integer sed orci non massa mollis fermentum. Morbi fringilla est et 
    dui scelerisque, vel hendrerit sem hendrerit.
  </p>
  <p>
    Integer sed orci non massa mollis fermentum. Morbi fringilla est et 
    dui scelerisque, vel hendrerit sem hendrerit.
  </p>
  <p>
    Integer sed orci non massa mollis fermentum. Morbi fringilla est et 
    dui scelerisque, vel hendrerit sem hendrerit.
  </p>


<p>
  Quisque et erat magna. Fusce viverra neque nec mi sollicitudin, sit 
  amet vehicula risus ullamcorper.
</p>

<!-- Ufak bir tablo örneği -->
<table border="1" cellspacing="0" cellpadding="6">
    <thead>
      <tr>
        <th>İsim</th>
        <th>Yaş</th>
        <th>Şehir</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Ahmet</td>
        <td>25</td>
        <td>Ankara</td>
      </tr>
      <tr>
        <td>Ayşe</td>
        <td>29</td>
        <td>İstanbul</td>
      </tr>
      <tr>
        <td>Fatma</td>
        <td>33</td>
        <td>İzmir</td>
      </tr>
    </tbody>
  </table>


  <p>
    Integer sed orci non massa mollis fermentum. Morbi fringilla est et 
    dui scelerisque, vel hendrerit sem hendrerit.
  </p>
  <p>
    Integer sed orci non massa mollis fermentum. Morbi fringilla est et 
    dui scelerisque, vel hendrerit sem hendrerit.
  </p>
  <p>
    Integer sed orci non massa mollis fermentum. Morbi fringilla est et 
    dui scelerisque, vel hendrerit sem hendrerit.
  </p>
  <p>
    Integer sed orci non massa mollis fermentum. Morbi fringilla est et 
    dui scelerisque, vel hendrerit sem hendrerit.
  </p>


<!-- Kod bloğu örneği -->
<pre><code>
// Basit bir JavaScript fonksiyonu
function selamVer(isim) {
  console.log("Selam, " + isim + "!");
}
selamVer("Yusuf");
</code></pre>



<p>
  Son paragraf: Proin viverra, libero sed eleifend elementum, velit 
  tellus tincidunt nibh, quis pulvinar mi nulla ac elit. Maecenas 
  consequat mollis mi nec semper.
</p>

{%endblock%}